/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  /* height: 100vh; */
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Modal Content */
.modal-content {
  background-color: var(--background-color);
  padding: 30px;
  border-radius: 15px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  text-align: center;
  color: var(--text-primary-color);
}

/* Modal Heading */
.modal-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Search Form */
.search-form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  background-color: var(--button-background-color);
  color: var(--text-primary-color);
  font-size: 1rem;
  width: 100%;
  max-width: 350px;
  margin-right: 10px;
}

.search-button {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 8px;
  background-color: var(--highlight-color);
  color: var(--button-text-color);
  border: none;
  cursor: pointer;
}

.search-button:hover {
  background-color: var(--text-primary-color);
  color: var(--background-color);
}

/* Results List */
.results-list {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.result-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  background-color: var(--button-background-color);
  border: 1px solid var(--border-color);
  margin-bottom: 10px;
}

/* User Info */
.user-info {
  font-size: 1rem;
  color: var(--text-primary-color);
}

/* Action Buttons */
.action-buttons {
  display: flex;
  gap: 10px;
}

.action-button {
  padding: 8px 15px;
  font-size: 0.9rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.send-button {
  background-color: var(--highlight-color);
  color: var(--button-text-color);
}

.send-button:hover {
  background-color: var(--text-primary-color);
  color: var(--background-color);
}

.remove-button {
  background-color: var(--highlight-color);
  color: var(--button-text-color);
}

.remove-button:hover {
  background-color: darkred;
  color: var(--background-color);
}

.accept-button {
  background-color: green;
  color: white;
}

.accept-button:hover {
  background-color: darkgreen;
}

.decline-button {
  background-color: var(--inactive-color);
  color: var(--text-secondary-color);
}

.decline-button:hover {
  background-color: darkred;
  color: white;
}

.cancel-button {
  background-color: var(--inactive-color);
  color: var(--text-secondary-color);
}

.cancel-button:hover {
  background-color: darkred;
  color: white;
}

/* Close Button */
.close-button {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 8px;
  background-color: var(--inactive-color);
  color: var(--text-secondary-color);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.close-button:hover {
  background-color: var(--text-primary-color);
  color: var(--background-color);
}

/* No Results Message */
.no-results-message {
  font-size: 1rem;
  color: var(--text-secondary-color);
}



.loading-message {
  font-size: 1rem;
  color: var(--text-secondary-color);
  margin-top: 10px;
  text-align: center;
}
