.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px; /* Ensures the container takes full height of the viewport */
}

.login-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 30px;
  width: 320px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 30px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: left;
}

.input-container {
  position: relative;
  margin-bottom: 20px;
  margin-left: 0;
  padding: 0;
}

.login-input {
  width: 90%;
  padding: 15px;
  border: 2px solid #ddd;
  border-radius: 25px;
  font-size: 16px;
  outline: none;
  background: none;
  z-index: 1; /* Ensure input is below the label */
}

.login-input:focus {
  border-color: #ffad60;
}

.floating-label {
  position: absolute;
  left: 20px;
  top: 15px;
  font-size: 16px;
  color: #aaa;
  pointer-events: none;
  transition: 0.2s ease all;
  background-color: #fff; /* Match background to blend with the container */
  padding: 0 5px;
  z-index: 2; /* Ensure label is above the input and border */
}

.login-input:focus + .floating-label,
.login-input:not(:placeholder-shown) + .floating-label {
  top: -10px;
  left: 20px;
  font-size: 12px;
  color: #ffad60;
}

.login-button {
  padding: 15px;
  border: none;
  border-radius: 25px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.error {
  font-size: 14px;
  margin-top: -10px;
  color: red;
}

.signup-link {
  margin-top: 30px;
  font-size: 16px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.signup-link button {
  background: none;
  color: #3b82f6;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.signup-link button:hover {
  text-decoration: underline;
  background: none;
}

.login-demo-buttons {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 100%; /* Take up full width */
}

.demo-button {
  padding: 15px;
  border: none;
  border-radius: 25px;
  font-size: 18px;
  cursor: pointer;
  width: 100%; /* Take up full width */
  text-align: center;
}
