/* Main Splash Page Container */
.splash-page {
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
  background-color: var(--background-color);
}

/* Content Wrapper */
.splash-content {
  text-align: center;
  color: var(--text-primary-color);
  padding: 40px;
  background-color: var(--button-background-color);
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

/* Title and Subtitle */
.splash-title {
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 10px;
  color: var(--highlight-color);
}

.splash-subtitle {
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: var(--text-secondary-color);
}

/* Buttons */
.splash-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: flex-end;
  flex-direction: column;
}

.splash-button {
  padding: 15px 30px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  height: 60px; /* Ensures both buttons have the same height */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Login Button */
.login-button {
  background-color: var(--highlight-color);
  color: var(--button-text-color);
}

.login-button:hover {
  background-color: var(--text-primary-color);
  color: var(--background-color);
  transform: translateY(-3px);
}

/* Signup Button */
.signup-button {
  background-color: var(--inactive-color);
  color: var(--button-text-color);
  width: 100%;
}

.signup-button:hover {
  background-color: var(--text-primary-color);
  color: var(--background-color);
  transform: translateY(-3px);
}

/* Media Query for Smaller Screens */
@media (max-width: 600px) {
  .splash-content {
    padding: 20px;
  }

  .splash-title {
    font-size: 2rem;
  }

  .splash-subtitle {
    font-size: 1rem;
  }

  .splash-button {
    padding: 12px 24px;
    font-size: 0.9rem;
    height: 50px; /* Adjusted height for smaller screens */
  }
}
