/* Import the Anton font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

/* Set the Anton font for everything */
html,
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  height: 100%;
  margin: 0;
}

/* Night Theme - Cold */
:root {
  --background-color: #0b1120;
  --text-primary-color: #f0f6fc;
  --text-secondary-color: #9aa5b1;
  --button-background-color: #1e2a38;
  --button-text-color: #f0f6fc;
  --border-color: #30363d;
  --card-background-color: #16202c;
  --highlight-color: #58a6ff;
  --inactive-color: #4b5563;
}

body.dark-theme {
  background-color: var(--background-color);
  color: var(--text-primary-color);
}

/* Day Theme - Warm */
body.light-theme {
  --background-color: #f3f4f6;
  --text-primary-color: #111827;
  --text-secondary-color: #6b7280;
  --button-background-color: #e5e7eb;
  --button-text-color: #111827;
  --border-color: #d1d5db;
  --card-background-color: #ffffff;
  --highlight-color: #ff9f43;
  --inactive-color: #9ca3af;

  background-color: var(--background-color);
  color: var(--text-primary-color);
}
button {
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  border: 1px solid var(--border-color);
  border-radius: 12px; /* Circle shape */
  width: fit-content; /* Ensure width and height are equal for the circular shape */
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  background-color: var(--highlight-color);
}

.card {
  background-color: var(--card-background-color);
  border: 1px solid var(--border-color);
  border-radius: 15px; /* Optional: You can have rounded cards as well */
}

.inactive {
  color: var(--inactive-color);
}

h1,
h2,
h3,
p {
  color: var(--text-primary-color);
}

a {
  color: var(--highlight-color);
}

a:hover {
  opacity: 0.8;
}
