.navbar {
  background-color: var(--navbar-background-color);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 100%;
  box-sizing: border-box; /* Ensure padding doesn't affect the width */
}

.navbar-links {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
  padding-inline-start: 0;
}
/* .image-convert {
  filter: invert(100%);
} */
/* .image-convert .active {
  filter: invert(100%);
} */
body.dark-theme .Logo {
  filter: invert(100%);
}
.Logo {
  width: 100px;
  height: 100px;
  margin: 0;
}
.NavLink {
  text-decoration: none;
  color: var(--navbar-link-color);
}

.navbar-links .active {
  font-weight: bold;
  color: var(--navbar-link-active-color);
}

.theme-toggle-button {
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  border-radius: 50%;
  padding: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0;
}

button.theme-toggle-button:hover {
  background-color: var(--button-hover-background-color);
}

.Logged-out-theme-button {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.profile-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%; /* Fully round */
  width: 40px;
  height: 40px;
  background-color: #f3f4f6; /* Neutral background */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}
